/* AT-RULES */

@charset 'UTF-8';

@import url('https://fonts.googleapis.com/css2?family=Changa:wght@700&family=Rajdhani&family=Sansita+Swashed:wght@700&display=swap');

/* ESTILIZAÇÃO */

* {
    margin: 0;
    border: 0;
    padding: 0;
}

*::selection {
    background-color: var(--cyan-1);
    color: var(--red-1);
}

body {
    background-color: var(--black-3);
}

i {
    color: var(--cyan-1);
}

/* ELEMENTOS DO HEADER */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 35PX;
    font-size: 26pt;
    font-weight: bold;
    font-family: 'Changa', sans-serif;
    background-color: var(--black-2);
    border: var(--lighter-black-border);
}

header h1 {
    color: var(--cyan-1);
    text-shadow: var(--r-text-shadow);
}

#format-a1, #format-a2, #format-a3 {
    text-decoration: none;
    color: #fff;
    padding: 5px;
    display: inline-block;
    position: relative;
    margin-right: 10px;
    font-size: 14pt;
    font-weight: bold;
}

nav > a:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 5px;
    bottom: 0;
    left: 0;
    background-color: var(--cyan-1);
    box-shadow: var(--r-text-shadow);
    transform-origin: bottom center;
    transition: transform 0.25s ease-out;
}

nav > a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom center;
}

#mobile-drop-btn {
    display: none;
}

.drop-btn {
    display: none;
    position: absolute;
    border-radius: 50%;
    right: 20px;
}

.dropdown-content {
    display: none;
}

button {
    font-size: 14pt;
    font-weight: bold;
    height: 45px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 3px;
    cursor: pointer;
    transition: all 300ms ease;
    color: #fff;
    background-color: var(--black-2);
    border: var(--lighter-white-border);
}

#download-resume-link {
    text-decoration: none;
    font-weight: bold;
    color: var(--green-brighter);
}

button:hover, .card-body > a:hover  {
    a {
        color: #000;
        text-shadow: none;
    }

    color: #000;
    background-color: #fff;
    border: var(--lighter-black-border);
}

/* CONTEÚDO PRINCIPAL */

#main-slider {
    width: 90%;
    margin: 3% auto;
}

.format-carousel-item {
    padding: 0px 200px;
    margin: 0 auto;
    height: 500px;
}

#prev-arr > span, #next-arr > span {
    color: var(--cyan-1);
    font-size: 4rem;
    font-weight: bolder;
}

/* PARTE I */

#about-me, #my-projects, #contact {
    color: #eee;
    text-align: justify;
    font-family: 'Rajdhani', sans-serif;
}

.top-txt {
    display: flex;
    flex-direction: column;
    font-family: 'Changa', sans-serif;
}

.top-txt > h1 {
    font-size: 6vw;
    text-shadow: var(--r-text-shadow);
}

.top-txt > h1 > span {
    color: var(--cyan-1);
    text-shadow: var(--r-text-shadow);
}

top-txt > h2 {
    font-size: 3vw;
    translate: 0px -25px;
    text-shadow: var(--r-text-shadow);
}

.block-appear {
    position: relative;
    overflow: hidden;
}

.block-appear::after {
    content: '';
    position: absolute;
    top: 5px;
    left: 2px;
    width: inherit;
    height: 70%;
    background-color: red;
    animation: blockReveal 2s 0.5s both;
}

.appear-txt {
    color: var(--cyan-1);
    text-shadow: var(--r-text-shadow);
    font-family: 'Sansita Swashed', system-ui;
    opacity: 0;
    animation: fadeInTxt 0.5s ease-in-out 1.5s forwards;
}

@keyframes fadeInTxt {
    from { 
        opacity: 0;
    } to {
        opacity: 1;
    }
}

@keyframes blockReveal {
    0% {
        width: 0;
    }
    50% {
        width: 100%;
        left: 0;
    }
    100% {
        width: 0;
        left: 100%;
    }
}

/* PARTE II */

.mid-txt {
    margin: 20px auto;
    font-size: 15pt;
    font-family: 'Rajdhani', sans-serif;
}

#talk-to-me {
    font-weight: bold;
    text-align: end;
    font-family: 'Rajdhani', sans-serif;
}

.projects {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.card {
    background-color: var(--black-2);
}

.project-pic {
    height: 110px;
    overflow: hidden;
    position: relative;
}

#img-project {
    background-color: #fff;
    width: 250px;
    height: 250px;
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;
    transition: transform 0.25s;
    border-radius: .4rem;
}

.project-pic:hover #img-project {
    transform: translateY(-15%);
    
}

.card-title {
    font-weight: bold;
    display: flex;
    margin: 0;
}

.card-text {
    font-size: 14pt;
}

.card-body > a {
    position: relative;
    left: 140px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 3px;
    cursor: pointer;
    transition: all 300ms ease;
    color: #fff;
    font-weight: bold;
    background-color: var(--black-2);
    border: var(--lighter-white-border);
}

/* PARTE III */

.bottom-txt {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link {/* 
    width: 80px;
    height: 40px; */
    font-size: 26pt;
    color: var(--cyan-1);
    margin: 0 5px;
    border-radius: 50%;
    transition: all 200ms ease-in-out;
    filter: invert(0%);
    transform: scale(1);
}

.link:hover {
    filter: invert(100%);
    transform: scale(1.2);
}

/* RODAPÉ */

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 12pt;
    color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* MOBILE / RESPONSIVIDADE */

#mobile-nav {
    display: none;
    background-color: #202020;
    color: #fff;
    text-shadow: var(--l-text-shadow);
    border: var(--lighter-black-border);
}

/* MEDIA QUERIES */

@media only screen and (max-width: 665px) {
    /* Alterações no Header */

    header>nav>a {
        display: none;
    }

    /* Alterações no conteúdo principal */
    
    .go-to-arr {
        display: none;
    }

    /* main {
        width: 70%;
    } */


    #say-about {
        font-size: 14pt;
    }
    
    /* Rodapé */

    footer {
        position: absolute;
        bottom: 0;
        padding: 0;
    }
    
    #mobile-nav {
        display: block;
        position: absolute;
        bottom: 25px;
        padding: 5px 0;
        width: 100%;
        text-align: center;
        border: none;
    }
}

@media only screen and (max-width: 400px) {
    /* Alterações no header */

    header > nav {
        display: none;
    }

    .drop-btn {
        display: block;
        position: inherit;
        border-radius: 50%;
    }
    
    .dropdown-content {
        display: none;
        position: absolute;
        right: 20px;
    }
}

@media only screen and (max-width: 400px) and (max-height: 750px) {

    /* Alterações no header */

    header {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .drop-btn {
        width: 35px;
        height: 35px;
        font-size: 10pt;
    }

    .drop-btn>i {
        position: relative;
        right: 5px;
    }

    button {
        font-size: 10pt;
        height: 35px;
    }

    /* Conteúdo principal */
    
    #say-about {
        font-size: 12pt;
        text-align: justify;
    }

    .link {
        width: 35px;
        height: 35px;
    }
}

@media only screen and (max-width: 300px) {

    /* Alterações no header */

    header {
        font-size: 20pt;
    }

    /* Conteúdo principal */

    #say-hello {
        font-size: 14pt;
    }

    #say-hello-sub {
        font-size: 12pt;
        translate: 0px -5px;
    }

    #say-about {
        font-size: 10pt;
        text-align: justify;
    }

    .link {
        width: 30px;
        height: 30px;
    }

    /* Rodapé */

    #mobile-nav {
        display: flex;
        justify-content: space-evenly;
        bottom: 20px;
    }

    #mobile-nav>a {
        font-size: 10pt;
    }

    footer {
        font-size: 10pt;
    }
}