/* AT-RULES */

@charset 'UTF-8';

@import url('https://fonts.googleapis.com/css2?family=Changa:wght@700&family=Rajdhani:wght@400;600;700&family=Sansita+Swashed:wght@700&display=swap');


/* ESTILIZAÇÃO */

/* GERAL */

* {
    margin: 0;
    border: 0;
    padding: 0;
}

*::selection {
    background-color: var(--main-color);
    color: var(--second-color);
}

*::-webkit-scrollbar {
    width: 10px;
}
  
*::-webkit-scrollbar-track {
    background-color: var(--second-bg-color);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
    border-radius: 20px;
    border: 3px solid var(--second-bg-color);
}

body {
    background-color: var(--main-bg-color);
}

i {
    color: var(--main-color);
}


/* ELEMENTOS DO HEADER */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 35PX;
    font-size: 26pt;
    font-weight: bold;
    font-family: 'Changa', sans-serif;
    background-color: var(--second-bg-color);
    border: var(--border-black);
}

header h1 {
    color: var(--main-color);
    text-shadow: var(--l-text-shadow);
    font-family: 'Sansita Swashed', system-ui;
    font-size: 36pt;
    cursor: pointer;
    position: relative;
}

#format-a1, #format-a2, #format-a3, #format-a4,
#format-a1-mob, #format-a2-mob, #format-a3-mob, #format-a4-mob {
    text-decoration: none;
    color: #fff;
    padding: 5px;
    display: inline-block;
    position: relative;
    margin-right: 10px;
    font-size: 1.2rem;
    font-weight: bold;
}

nav > a:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 5px;
    bottom: 0;
    left: 0;
    background-color: var(--main-color);
    box-shadow: var(--l-text-shadow);
    transform-origin: bottom center;
    transition: transform 0.25s ease-out;
}

nav > a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom center;
}

#mobile-drop-btn {
    display: none;
}

.drop-btn {
    display: none;
    position: absolute;
    right: 20px;
}

.dropdown-content {
    display: none;
}

.header-btn, .page-btn {
    font-size: 14pt;
    font-weight: bold;
    height: 45px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 3px;
    cursor: pointer;
    transition: all 300ms ease;
    color: #fff;
    background-color: var(--second-bg-color);
    border: var(--border-white);
}

#download-resume-link {
    text-decoration: none;
    font-weight: bold;
    color: var(--green-brighter);
}

.header-btn:hover, .page-btn:hover {
    background-color: var(--main-bg-color);
}


/* CONTEÚDO PRINCIPAL */

#main-slider {
    width: 90%;
    margin: 3% auto;
}

.format-carousel-item {
    padding: 0px 15vw;
    margin: 0 auto;
    height: 550px;
}

.format-carousel-control {
    transition: all 200ms ease-in-out;
    color: var(--main-color);
    font-size: 4rem;
    font-weight: bolder;
}


/* CONFIGS GERAIS */

.top-txt {
    display: flex;
    flex-direction: column;
    font-family: 'Changa', sans-serif;
    text-align: left;
}

.top-txt > h1 {
    font-size: 6vw;
    text-shadow: var(--l-text-shadow);
    font-family: 'Changa', sans-serif;
    cursor: context-menu;
    color: #fff;
}

.top-txt > h1 > span {
    color: var(--main-color);
    text-shadow: var(--l-text-shadow);
}

top-txt > h2 {
    font-size: 3vw;
    translate: 0px -25px;
    text-shadow: var(--l-text-shadow);
}

.block-appear {
    position: relative;
}

.block-appear::after {
    content: '';
    position: absolute;
    top: 5px;
    left: 2px;
    width: inherit;
    height: 80%;
    background-color: var(--second-color);
    animation: blockReveal 1.5s .5s both;
}

.appear-txt {
    color: var(--main-color);
    text-shadow: var(--l-text-shadow);
    font-family: 'Sansita Swashed', system-ui;
    opacity: 0;
    animation: fadeInTxt 0.5s ease-in-out 0.5s forwards;
}

@keyframes fadeInTxt {
    from { 
        opacity: 0;
    } to {
        opacity: 1;
    }
}

@keyframes blockReveal {
    0% {
        width: 100%;
    }
    100% {
        width: 0;
        left: 100%;
    }
}

#first-page, #about-me, #my-projects, #contact {
    color: #fff;
    text-align: justify;
    font-family: 'Rajdhani', sans-serif;
}

.mid-txt {
    margin: 20px auto;
    font-size: 15pt;
    font-family: 'Rajdhani', sans-serif;
}


/* SESSÕES*/

/* HOME */

#first-page-content {
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#first-page-content h1 {
    font-size: 7vw;
}

#first-page-content h2 {
    font-size: 3.5vw;
}

.mobile-h2 {
    display: none;
}

#talk-to-me {
    font-weight: bold;
    text-align: end;
    font-family: 'Rajdhani', sans-serif;
}

.bottom-txt {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link {
    font-size: 26pt;
    color: var(--main-color);
    margin: 0 5px;
    border-radius: 50%;
    transition: all 200ms ease-in-out;
    filter: invert(0%);
    transform: scale(1);
}

.link:hover {
    filter: invert(100%);
    transform: scale(1.2);
}


/* SOBRE */

.who {
    background-color: #fff;
    color: #000;
    margin: 20px 0px;
    height: 380px;
    font-size: 15pt;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 600;
    overflow-y: scroll;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px var(--main-color);
    animation: slideDownBox 1.4s ease-in 0s forwards;
    opacity: 0;
}

@keyframes slideDownBox {
    0% {
        opacity: 0;
        transform: translateY(-6%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}


/* PROJETOS */

.projects {
    display: flex;
    justify-content: space-between;
    overflow-x: scroll;
}

.card {
    flex: 1 1 33%;
    background-color: var(--second-bg-color);
    max-width: 280px;
    min-width: 240px;
    height: 400px;
    margin: 0px 10px 5px 5px;
}

.project-pic {
    height: 110px;
}

#img-project {
    background-color: #fff;
    max-width: 85%;
    height: 100%;
    position: relative;
    top: 20px;
    left: 20px;
    cursor: pointer;
    transition: transform ease 0.4s;
    border-radius: .4rem;
}

.project-pic:hover #img-project {
    overflow: visible;
    transform: translateY(-15%);
    box-shadow: 0px 2px 5px var(--main-color);
}

.card-body {
    background-color: var(--second-bg-color);
    z-index: 1;
}

.card-title {
    font-size: 14pt;
    font-weight: bold;
    display: flex;
    margin: 0;
}

.card-text {
    font-size: 14pt;
    height: 100px;
}

.card-body > div {
    display: flex;
    justify-content: end;
}

.card-body > div > a {
    position: relative;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 3px;
    cursor: pointer;
    transition: all 300ms ease;
    color: #fff;
    font-weight: bold;
    background-color: var(--second-bg-color);
    border: var(--border-white);
}

.card-body > div > a:hover  {
    background-color: var(--main-bg-color);
    border: var(--border-white);
}

#scroll-projects {
    background-color: #fff;
    width: 100%;
    height: 20px;
}


/* CONTATO */

#contact-me h1 {
    font-size: 5vw;
}

.contact-wrap {
    display: flex;
    justify-content: space-between;
    max-width: 900px;
    min-width: 450px;
    height: fit-content;
    margin: 10px auto;
}

#left-side-contact, #right-side-contact{
    background-color: var(--second-bg-color);
    width: 480px;
    border-radius: 15px;
    padding: 25px;
    max-width: 440px;
    min-width: 240px;
}

#left-side-contact {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}

.mobile-contact-link {
    display: none;
}

.contact-link {
    padding: 35px;
    font-size: 20pt;
    cursor: pointer;
    transition: all 200ms ease-in-out;
}

.contact-link > i, .contact-link > a {
    text-decoration: none;
    color: var(--main-color);
    transition: all 200ms ease-in-out;
}

.contact-link:hover * {
    transform: scale(1.1);
}

#right-side-contact form {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

h5 {
    font-size: 10pt;
    color: #fff;
}

.e-input, #e-content {
    margin-bottom: 20px;
    height: 30px;
    padding: 5px;
    outline: none;
    transition: all 200ms ease-in-out;
}

.e-input:focus, #e-content:focus {
    box-shadow: 0px 0px 10px var(--main-color);
}


/* RODAPÉ */

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 12pt;
    color: #fff;
    padding-top: 00px;
    padding-bottom: 20px;
}

#mobile-nav {
    display: none;
    text-shadow: var(--l-text-shadow);
    margin-bottom: 20px;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 1185px) { /* projects session*/
    .projects {
        overflow-x: scroll;
    }
    
    .card-title {
        font-size: 12pt;
    }
    
    .card-text {
        font-size: 12pt;
    }
}

@media only screen and (max-width: 1000px) { /* contact session */
    .contact-wrap {
        overflow-x: scroll;
        height: fit-content;
    }
    
    #left-side-contact {
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        margin-right: 0;
    }

    #right-side-contact {
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        margin-left: 0;
    }

    #right-side-contact > h2 {
        font-size: 20pt;
    }

    .contact-link {
        font-size: 16pt;
    }
}

@media only screen and (max-width: 800px) { /* mobile version */

    /* Alterações no Header */

    header > nav {
        display: none;
    }
    
    #mobile-drop-btn {
        display: block;
        margin-top: 0;
    }

    .drop-btn {
        display: block;
        position: inherit;
        background: none;
    }
    .drop-btn:focus {
        outline: none;
    }

    .drop-btn > i {
        font-size: 7vw;
    }
    
    .dropdown-content {
        position: absolute;
        right: 0px;
        animation: slideDownBox 0.2s ease-in-out 0s forwards;
    }


    /* Alterações no conteúdo principal */

    #main-slider {
        height: 530px;
    }

    #format-carousel {
        height: inherit;
    }

    .format-carousel-item {
        height: inherit;
    }

    .format-carousel-control {
        transition: all 200ms ease-in-out;
        color: var(--main-color);
        font-size: 2rem;
        font-weight: bolder;
    }

    .top-txt > h1 {
        margin-top: 20px;
        font-size: 11vw;
    }

    /* HOME */

    #first-page-content {
        height: 480px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-top: 40px;
    }
    
    #first-page-content h1 {
        font-size: 12vw;
    }
    
    #first-page-content h2 {
        font-size: 7vw;
    }

    .mobile-h2 {
        display: block;
    }

    .desktop-h2 {
        display: none;
    }
    
    #talk-to-me {
        display: none;
    }
    
    .bottom-txt {
        margin-top: 30px;
        justify-content: end;
    }

    #contact-btn {
        display: none;
    }

    /* CONTATO */

    #contact-me > .top-txt > h1 {
        font-size: 11vw;
    }

    .contact-wrap {
        flex-direction: column-reverse;
        overflow-x: visible;
        width: 450px;
    }

    #left-side-contact, #right-side-contact {
        width: fit-content;
        padding: 10px 5px;
    }

    #right-side-contact form {
        width: 90%;
        display: flex;
        flex-direction: column;
    }

    #right-side-contact h2 {
        font-size: 7vw;
        text-align: center;
    }
    
    #right-side-contact {
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        padding: 0;
    }

    #left-side-contact {
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        flex-direction: row;
        justify-content: space-evenly;
        margin-top: 10px;
    }

    .contact-link {
        padding: 5px;
        font-size: 8vw;
    }

    .mobile-contact-link {
        display: block;
    }

    .desktop-contact-link {
        display: none;
    }

    /* Rodapé */
    
    #mobile-nav {
        position: absolute;
        width: 100%;
        bottom: 15vw;
        display: block;
        text-align: center;
        margin: 0 auto;
    }
}