:root {
    --green-brighter: #3bff5f;
    --green-darker: #1ce240;
    --purple: #ae2bff;
    
    --l-text-shadow: 1px 1px 1px #000;
    --lighter-black-border: 1px solid #000;
    --v-box-shadow: 0px 5px 7px #777;
}